@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2); /* 헤더가 스크롤 시에도 보이게 투명 배경 추가 */
    z-index: 1000; /* 헤더가 다른 요소 위에 표시되도록 z-index 설정 */
    height: 100px; /* 헤더의 높이를 60px로 설정 */
    align-items: center; /* 헤더 내부 요소를 수직 중앙 정렬 */
    padding: 0 20px; /* 좌우 여백 추가 */
    
}

.header_logo {
    display: flex;
    align-items: center; 
    color: #fff;
    font-size: 36px;
}
.header_logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;  
    border-radius: 10px;
}  

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
}  
  
nav ul li {
    margin-left: 30px;  
}  
  
nav ul li a {
    color: #ffffffe5;
    text-decoration: none;  
    font-size: 20px;
} 



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(power-lines-moon-sky-minimalism-4k-gp.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px; /* 헤더의 높이만큼 마진 추가 */
}
@media screen and (max-width: 450px) {
    body {
        background: url(pikmin_phone.png) no-repeat center center fixed;
        background-size: cover;
    }
}
/* 스타일을 추가하여 세로로 정렬 */
.store-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* 항목 간격 */

    width: 700px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    backdrop-filter: blur(2px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .store-item {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); /* 반투명 배경 */
    color: #ffffff;
    width: 200px; /* 원하는 너비 */
  }
  
.wrapper{
    width: 700px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    backdrop-filter: blur(2px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0; 
}  
/* 테이블 스타일 */
.wrapper table {
    margin: auto;
    width: 700px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top: none;
}

.header {
    background-color: rgb(218, 231, 255);
    text-align: center;
}

.table td, .table th {
    border-bottom: 1px solid lightgray; 
    height: 30px;
    font-size: 14px;
}


.title {
    width: 70%;
}

.body {
    text-align: center;
}

.body .title {
    text-align: left;
}

/* 버튼 스타일 */
button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    outline: 1.5px solid rgb(68, 136, 244);
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
}

button:active {
    outline: 1.5px solid rgb(27, 76, 155);
    background-color: rgb(68, 136, 244);
}
