@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(43, 156, 11, 0.9); /* 헤더가 스크롤 시에도 보이게 투명 배경 추가 */
    z-index: 1000; /* 헤더가 다른 요소 위에 표시되도록 z-index 설정 */
    height: 100px; /* 헤더의 높이를 60px로 설정 */
    align-items: center; /* 헤더 내부 요소를 수직 중앙 정렬 */
    padding: 0 20px; /* 좌우 여백 추가 */
    
}

.header_logo {
    display: flex;
    align-items: center; 
    color: #030303;
    font-size: 36px;
}
.header_logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;  
    border-radius: 10px;
}  

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
}  
  
nav ul li {
    margin-left: 30px;  
}  
  
nav ul li a {
    color: #080808;
    text-decoration: none;  
    font-size: 25px;
} 


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pikmin.jpg) no-repeat center center fixed; /* 이미지 위치를 고정(fixed) */
    background-size: cover; /* 이미지를 화면에 꽉 채우도록 설정 */
    margin-top: 110px; /* 헤더의 높이만큼 마진 추가 */
    background-position: center;
}

@media screen and (max-width: 450px) {
    body {
        background: url(pikmin_phone.png) no-repeat center center fixed;
        background-size: cover;
    }
}

.wrapper{
    width: 700px;
    background: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(233, 9, 9, 0.5);
    box-shadow: 0 0 10px rgba(73, 221, 24, 0.399);
    backdrop-filter: blur(2px);
    color: #76ad0e;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative; /* 다른 요소와 충돌 방지 */
}

.wrapper h1{
    color: #000000;
    font-size: 36px;
    text-align: center;
}

.wrapper h2{
    font-size: 20px;
    text-align: center;
}

.wrapper p{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0; 
}  

  
table {
    width: 100%;
    border-collapse: collapse;
    color: #76ad0e; 
    margin-top: 20px;
}  
  
table, th, td {
    border: 1px solid #76ad0e; 
    text-align: center;
    font-size: 25px;
}  
  
td:first-child {
    width: 70%;
    padding: 10px;
    text-align: center;  
    font-size: 20px;
}  
td:last-child {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    font-size: 15px;  
}  

.button-container {
    text-align: center; /* 수평으로 가운데 정렬 */
    justify-content: center;
}

button {
    width: 150px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #862424;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
} 

button:hover{
    background: rgba(68, 207, 53, 0.5);
    color: #fff;
    border-color: #fff;
    margin-top: 20px;
}




header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5); /* 헤더가 스크롤 시에도 보이게 투명 배경 추가 */
    z-index: 1000; /* 헤더가 다른 요소 위에 표시되도록 z-index 설정 */
    height: 100px; /* 헤더의 높이를 60px로 설정 */
    align-items: center; /* 헤더 내부 요소를 수직 중앙 정렬 */
    padding: 0 20px; /* 좌우 여백 추가 */
    
}


